apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: statusquarkusio-flg5
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-bada-tenant/status-quarkus-io/statusquarkusio-flg5@sha256:744285dcff99bf2c343a5965369eeaf231e92cf90271983819b727af9ad2cc6f
        name: my-java-quarkus
        resources: {}
status: {}
